[package]
name = "task-keeper"
version = "0.13.1"
edition = "2021"
authors = ["linux_china <libing.chen@gmail.com>"]
description = "Task keeper to manage tasks from different task runners"
keywords = ["task", "just", "npm", "deno"]
categories = ["command-line-utilities"]
documentation = "https://github.com/linux-china/task-keeper"
readme = "README.md"
homepage = "https://github.com/linux-china/task-keeper"
repository = "https://github.com/linux-china/task-keeper"
license = "Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[[bin]]
name = "tk"
path = "src/main.rs"

[dependencies]
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_jsonrc = "0.1"
serde-xml-rs = "0.6"
toml = "0.7"
java-properties = "2"
colored = "2"
colored_json = "3"
clap = "4"
clap_complete = "4"
chrono = "0.4"
regex = "1"
dirs = "5"
which = "4"
thiserror = "1"
error-stack = "0.4.1"
dotenv = "0.15"
shlex = "1"
cfg-if = "1"
uuid = { version = "1", features = ["v4"] }
logos = "0.13.0"
update-informer = { version = "1.1.0", default_features = false, features = ["github"] }

[profile.release]
strip = true
lto = true
opt-level = "z"
codegen-units = 1
panic = "abort"

[registries.crates-io]
protocol = "sparse"
